College Kings 9.1.2 Patch/

game/bugTesting/images
game/bugTesting/_bugTesting.txt
game/cache
game/fonts
game/gui
game/images
game/music
game/saves
game/sounds
game/tl
game/unren-dev.rpy

lib/
renpy/

CollegeKings.py
CollegeKings.sh
errors.txt
gradle.properties.txt
log.txt
Stored Script.txt
traceback.txt

*.bat
*.rpa
*.rpyc
*.zip
*.exe

.vscode/