[submodule "game/tl"]
	path = game/tl
	url = https://github.com/College-Kings/college-kings-translations.git
[submodule "game/phone"]
	path = game/phone
	url = https://github.com/College-Kings/college-kings-phone.git
[submodule "game/images"]
	path = game/images
	url = https://github.com/College-Kings/college-kings-images.git
[submodule "game/recap"]
	path = game/recap
	url = https://github.com/College-Kings/college-kings-recap.git
[submodule "game/whats_new"]
	path = game/whats_new
	url = https://github.com/College-Kings/college-kings-whats-new.git
[submodule "game/characters"]
	path = game/characters
	url = https://github.com/College-Kings/college-kings-characters.git
