[submodule "game/tl"]
	path = game/tl
	url = https://github.com/College-Kings/college-kings-translations.git
[submodule "game/phone"]
	path = game/phone
	url = https://github.com/College-Kings/college-kings-phone.git
[submodule "game/images"]
	path = game/images
	url = https://github.com/College-Kings/college-kings-images.git
[submodule "game/recap"]
	path = game/recap
	url = https://github.com/College-Kings/college-kings-recap.git
