.vscode/
lib/
renpy/

game/bugTesting/_bugTesting.txt
game/cache/
game/saves/
game/script_version.txt
game/version.txt

CollegeKings.py
CollegeKings.sh
errors.txt
gradle.properties.txt
log.txt
Stored Script.txt
traceback.txt
project.json
steam_appid.txt
game_log.txt

screenshot*

*.bat
*.docx
*.rpa
*.rpyc
*.zip
*.exe
*.bak
.DS_Store
