game/bugTesting/images
game/cache
game/fonts
game/gui
game/images
game/music
game/saves
game/sounds
game/tl

lib/
renpy/

game/unren-dev.rpy

CollegeKings.py
CollegeKings.sh
errors.txt
gradle.properties.txt
log.txt
Stored Script.txt
traceback.txt

*.rpyc
*.zip
*.exe